h1 {
    height: 100px;
    width: 50%;
    background-color: powderblue;
    margin: auto;
    outline-style: outset;
    outline: 5px solid red;
    outline-offset: 15px;
  }
  
  .radio {
    background-color: lightblue;
    opacity: 0.5;
    padding: 25px 50px 75px 100px;
    width: 300px;
    box-sizing: border-box;
  }
  
  p.a {
     border-left: 6px solid red;
     background-color: lightgrey;
     color: blue;
  }

  p.a {
    background: rgba(0, 128, 0, 0.3);
    border-style: dotted dashed solid double;
    border-width: medium;
    border-color: red green blue yellow;
    border-radius: 8px;
    margin: 25px 50px;
  }

  body {
    background-image: url("images/фон.jpg");
    background-repeat: repeat;
    background-position: right top;
    background-attachment: fixed;
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .container img {
    width: 100%;
    height: auto;
  }
  
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: black;
    color: white;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  a.one:link, a.one:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a.one:hover, a.one:active {
    background-color: green;
    color: white;
    cursor:pointer;
  }

  ul.one {
    background: #3399ff;
    padding: 10px;
  }

  ul li.one {
    background: #cce5ff;
    padding: auto;
    margin: 5px;
    margin-left: 35px;
  }

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .anim {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }

  .rec {
    width: 100px;
    height: 50px;
    background-color: red;
    font-weight: bold;
    position: relative;
    animation: mymove 5s infinite;
  }
  
  #div1 {animation-timing-function: linear;}
  #div2 {animation-timing-function: ease;}
  #div3 {animation-timing-function: ease-in;}
  #div4 {animation-timing-function: ease-out;}
  #div5 {animation-timing-function: ease-in-out;}
  
  @keyframes mymove {
    from {left: 0;}
    to {left: 300px;}
  }

  .newspaper {
    column-count: 3;
    column-gap: 40px;
    column-rule: 1px solid lightblue;
  }
  
  h2.b {
    column-span: all;
  }

  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  ul.two {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li.two {
    float: left;
  }
  
  li.two a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.two a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  h2.shad {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  }

  div.polaroid {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  
  div.container {
    padding: 10px;
  }

  div.c {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 2s, transform 2s;
  }
  
  div.c:hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
  }

  span.test2 {
    writing-mode: vertical-rl;
  }